/* css reset */
* {
    margin: 0px;
    padding: 0PX;
}

/* css variables */
:root {
    --navbar-height: 59px;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;
    opacity: 0.4;
}

/* navigation bar :logo */
#logo {
    margin: 10px 34px;
}

/* #logo img {
    height: 56px;
    width: 56px;
    margin: 10px 10px;
    border-radius: 50%;
} */

 #logo h1{
    height: 40px;
    margin: 10px 10px; 
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px 3px;
    width: 80px;
    text-align: center;
} 

#navbar {
    position:absolute;
    top: 0px;
    width: 100%;
}

/* navigation bar: list styling */
#navbar ul {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    
}

#navbar ul li {
    list-style: none;
    /*iska use karne se bindu hat jaate hai*/
    font-size: 1.5rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 24px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color:aqua;
    font-weight: bold;
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 645px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('../img/bp1.jpg.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.78;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    /* font-family: 'Borel', cursive;
    font-family: 'Hubballi', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Prism', cursive; */
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Balsamiq Sans', cursive;
    /* font-family: 'Borel', cursive;
    font-family: 'Hubballi', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Prism', cursive; */
}

/* service section */
#services{
    margin:50px;
    display: flex;
}
#services .box{
    border: 2px solid purple;
    padding: 34px;
    margin: 3px 6px;
    border-radius:23px;
    background-color: rgb(176, 207, 207);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    border-radius: 23px;
}


/* client section */
#client-section{
     height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bp.jpg.jpg')no-repeat center center/cover;
    height:300px;
    width: 100%;
    z-index:-1;
    opacity: 0.4;
}
#client{
    display:flex;
    justify-content: center;
    align-items: center;
}
.client-items{
   padding: 4px 34px;
}
#client img{
    height: 100px;
    width: 100px;
}

/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/men.png.jpg')no-repeat center center/cover;
}
footer{
    background-color: black;
    color: white;
    padding: 4px 20px;
    text-align: center;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 24px;
    font-size: 1.1rem;
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
#contact-box input,
#contact-box textarea:hover{
    cursor: pointer;
}



/* utility classes */
.h-primary {
    font-size: 3.5rem;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    color:black ;
    background-color: aquamarine;
    border: 2px solid white;
    font-size: 1.5rem;
    padding: 6px 20px;
    margin: 17px;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 5px rgb(107, 185, 107);
}
.center{
    text-align: center;
}